<?xml version="1.0"?>
<config>
    <modules>
        <Peerforest_Revolutionslider>
            <version>2.0.2</version>
        </Peerforest_Revolutionslider>
    </modules>
    <frontend>
        <routers>
            <revolutionslider>
                <use>standard</use>
                <args>
                    <module>Peerforest_Revolutionslider</module>
                    <frontName>revolutionslider</frontName>
                </args>
            </revolutionslider>
        </routers>
        <layout>
            <updates>
                <revolutionslider>
                    <file>revolutionslider.xml</file>
                </revolutionslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	    <revolutionslider>
		<use>admin</use>
		<args>
		    <module>Peerforest_Revolutionslider</module>
		    <frontName>revolutionslider</frontName>
		</args>
	    </revolutionslider>
        </routers>
    </admin>
    <adminhtml>	
	<layout>
	    <updates>
		<revolutionslider>
		    <file>revolutionslider.xml</file>
		</revolutionslider>
	    </updates>
	</layout>
    </adminhtml>   
    <global>
        <models>
            <revolutionslider>
                <class>Peerforest_Revolutionslider_Model</class>
                <resourceModel>revolutionslider_mysql4</resourceModel>
            </revolutionslider>
            <revolutionslider_mysql4>
                <class>Peerforest_Revolutionslider_Model_Mysql4</class>
                <entities>
                    <revolutionslider>
                        <table>revolutionslider</table>
                    </revolutionslider>
                </entities>
            </revolutionslider_mysql4>
        </models>
        <resources>
            <revolutionslider_setup>
                <setup>
                    <module>Peerforest_Revolutionslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </revolutionslider_setup>
            <revolutionslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </revolutionslider_write>
            <revolutionslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </revolutionslider_read>
        </resources>
        <blocks>
            <revolutionslider>
                <class>Peerforest_Revolutionslider_Block</class>
            </revolutionslider>
        </blocks>
        <helpers>
            <revolutionslider>
                <class>Peerforest_Revolutionslider_Helper</class>
            </revolutionslider>
        </helpers>
    </global>
	<default>
	    <revolutionslider>		    
		<setting>
		    <show_description>1</show_description>
		    <delay></delay>
		    <startheight>527</startheight>
		    <startwidth>1200</startwidth>
		    <hideTimerBar>on</hideTimerBar>
		    <hideThumbs></hideThumbs>
		    <hideNavDelayOnMobile></hideNavDelayOnMobile>
		    <thumbWidth></thumbWidth>
		    <thumbHeight></thumbHeight>
		    <thumbAmount></thumbAmount>
		    <navigationType>bullet</navigationType>
		    <navigationArrows>solo</navigationArrows>
		    <hideThumbsOnMobile>off</hideThumbsOnMobile>
		    <hideBulletsOnMobile>off</hideBulletsOnMobile>
		    <hideArrowsOnMobile>off</hideArrowsOnMobile>
		    <hideThumbsUnderResoluition></hideThumbsUnderResoluition>
		    <navigationHAlign>center</navigationHAlign>
		    <navigationVAlign>bottom</navigationVAlign>
		    <navigationHOffset></navigationHOffset>
		    <navigationVOffset></navigationVOffset>
		    <soloArrowLeftHalign>left</soloArrowLeftHalign>
		    <soloArrowLeftValign>center</soloArrowLeftValign>
		    <soloArrowLeftHOffset>30</soloArrowLeftHOffset>
		    <soloArrowLeftVOffset></soloArrowLeftVOffset>
		    <soloArrowRightHalign>right</soloArrowRightHalign>
		    <soloArrowRightValign>center</soloArrowRightValign>
		    <soloArrowRightHOffset>30</soloArrowRightHOffset>
		    <soloArrowRightVOffset></soloArrowRightVOffset>
		    <keyboardNavigation>off</keyboardNavigation>
		    <touchenabled>on</touchenabled>
		    <onHoverStop>on</onHoverStop>
		    <stopAtSlide></stopAtSlide>
		    <stopAfterLoops></stopAfterLoops>
		    <hideCaptionAtLimit></hideCaptionAtLimit>
		    <hideAllCaptionAtLimit></hideAllCaptionAtLimit>
		    <hideSliderAtLimit></hideSliderAtLimit>
		    <shadow>0</shadow>
		    <dottedOverlay>none</dottedOverlay>
		    <swipe_velocity>0</swipe_velocity>
		    <swipe_max_touches>1</swipe_max_touches>
		    <swipe_min_touches>1</swipe_min_touches>
		    <drag_block_vertical>off</drag_block_vertical>
		</setting>		    
	    </revolutionslider>
	</default>
</config>