<?xml version="1.0"?>
<config>
    <modules>
        <Peerforest_MultiProduct>
            <version>1.0.0</version>            
        </Peerforest_MultiProduct>
    </modules>
    <frontend>
        <routers>
            <multiproduct>
                <use>standard</use>
                <args>
                    <module>Peerforest_MultiProduct</module>
                    <frontName>multiproduct</frontName>
                </args>
            </multiproduct>
        </routers>        
    </frontend>
	<global>
	    <models>
		<multiproduct>
		    <class>Peerforest_MultiProduct_Model</class>
		</multiproduct>   
	    </models>
	    <helpers>
		<multiproduct>
			<class>Peerforest_MultiProduct_Helper</class>
		</multiproduct>
	    </helpers>    
	    
	    <blocks>
		<multiproduct>
			<class>Peerforest_MultiProduct_Block</class>
		</multiproduct>
	    </blocks>
	</global>
	<default>
	    <multiproduct>
		<block1>
		    <enable>1</enable>
		    <multi_option>1_new</multi_option>
		    <product_load_max>10</product_load_max>
		</block1>
		<block2>
		    <enable>1</enable>
		    <multi_option>2_random</multi_option>
		    <product_load_max>10</product_load_max>
		</block2>
		<block3>
		    <enable>1</enable>
		    <multi_option>2_rated</multi_option>
		    <product_load_max>10</product_load_max>
		</block3>
		<block4>
		    <enable>1</enable>
		    <multi_option>2_new</multi_option>
		    <product_load_max>6</product_load_max>
		    <product_per_row>1</product_per_row>
		</block4>
		<block5>
		    <enable>1</enable>
		    <block_title>BESTSELLER</block_title>
		    <period>60</period>
		    <product_load_max>10</product_load_max>
		    <mini_product_load_max>3</mini_product_load_max>
		</block5>
		<block6>
		    <enable>1</enable>
		    <mini_product_load_max>3</mini_product_load_max>
		</block6>
	    </multiproduct>
	</default>
</config>
