<?xml version="1.0" ?>

<config>
    <modules>
        <Peerforest_Megamenu>
            <version>1.0.1</version>            
        </Peerforest_Megamenu>        
    </modules>
    <frontend>
        <layout>
            <updates>
                <megamenu module="megamenu">
                    <file>peerforest/megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <megamenu>
                <class>Peerforest_Megamenu_Helper</class>
            </megamenu>
        </helpers>
        <models>
            <megamenu>
                <class>Peerforest_Megamenu_Model</class>
            </megamenu>
        </models>
        <blocks>
            <page>
                <rewrite>
                    <html_topmenu>Peerforest_Megamenu_Block_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
            <megamenu><class>Peerforest_Megamenu_Block</class></megamenu>                        
        </blocks>
        <resources>
            <megamenu_setup>
                <setup> 
                    <module>Peerforest_Megamenu</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </megamenu_setup>
        </resources>
    </global>
    <default>
        <peermegamenu>
            <options>
                <enabled>1</enabled>
                <enabled_home_link>1</enabled_home_link>
                <display_category_thumnail_image>1</display_category_thumnail_image>
                <display_subcategory_thumnail_image>1</display_subcategory_thumnail_image>
                <subcategory_thumnail_image_position>left</subcategory_thumnail_image_position>
                <enable_custom_Link>1</enable_custom_Link>
                <add_custom_menu></add_custom_menu>
                <custom_menu_order></custom_menu_order>
            </options>
        </peermegamenu>
    </default>
</config>